@font-face {
    font-family: 'Retrocircular';
    src: url('fonts/Retrocircular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JAPAN';
    src: url('fonts/JAPAN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}